<div class="about-page">
    <!-- Ваш HTML-контент -->

<div style="display: flex; justify-content: center; padding: 20px 0;">
  <table style="width: auto; border-collapse: collapse; margin: 0 auto;">
  <tr>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://wilo.ru/">
        <img src="/firms/wilo.png" alt="WILO" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://lowara.su/">
        <img src="/firms/lowara.png" alt="LOWARA" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://www.flygtrf.ru/">
        <img src="/firms/flygt.png" alt="Описание 3" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://www.caprari.com/en/">
        <img src="/firms/caprari.png" alt="Описание 4" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://www.cnprussia.ru/">
        <img src="/firms/cnp.png" alt="Описание 5" style="max-width: 100%; height: auto;">
      </a>
    </td>
  </tr>
  <tr>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://www.lcpumps.ru/">
        <img src="/firms/lg.png" alt="Описание 6" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://leorussia.ru/">
        <img src="/firms/leo.png" alt="Описание 7" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://kq.com.ru/">
        <img src="/firms/kq.png" alt="Описание 8" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://aquastrong.it/ru/">
        <img src="/firms/aquastrong.png" alt="Описание 9" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://www.hms-livgidromash.ru/">
        <img src="/firms/livgidromash.png" alt="Описание 10" style="max-width: 100%; height: auto;">
      </a>
    </td>
  </tr>
</table>
  </div>

</div>
